<div style="display: none">
  <%= link_to(image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), paypal_express_url(:payment_method_id => payment_method.id), :method => :post, :id => "paypal_button") %>
</div>

<p>No PayPal account is required. Visa, MasterCard, Discover, and American Express cards are accepted.</p>

<p>After clicking “Complete order”, you will be redirected to PayPal to complete your purchase securely with PayPal account or Credit Cards.</p>

<div style="max-width:300px">
  <%= render partial: 'spree/checkout/payment/credit_card_icons' %>
</div>


<div id="paypal-image-logo" style="display: none"><%= image_tag("paypal.png") %></div>
<script>
    document.addEventListener('turbolinks:load', function () {
        SpreePaypalExpress.paymentMethodID = "<%= payment_method.id %>"
    })
</script>